@media (max-width: 380px) {
    .devanagari_font {
        font-family: 'Rajdhani', sans-serif;
        font-size: 50px;
    }
}
@media screen and (min-width: 400px) {
    .devanagari_font {
        font-family: 'Rajdhani', sans-serif;
        font-size: 80px;
    }
}
